@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Arimo:ital,wght@0,400..700;1,400..700&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Asap:ital,wght@0,100..900;1,100..900&family=Assistant:wght@200..800&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Bitter:ital,wght@0,100..900;1,100..900&family=Cabin:ital,wght@0,400..700;1,400..700&family=Cairo:wght@200..1000&family=Caveat:wght@400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Comfortaa:wght@300..700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dancing+Script:wght@400..700&family=Dosis:wght@200..800&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fjalla+One&family=Heebo:wght@100..900&family=Hind+Siliguri:wght@300;400;500;600;700&family=Hind:wght@300;400;500;600;700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lexend:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=M+PLUS+Rounded+1c&family=Manrope:wght@200..800&family=Maven+Pro:wght@400..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mukta:wght@200;300;400;500;600;700;800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nanum+Gothic&family=Noto+Color+Emoji&family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans+HK:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=PT+Sans+Narrow:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Play:wght@400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Shadows+Into+Light&family=Signika+Negative:wght@300..700&family=Slabo+27px&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Space+Grotesk:wght@300..700&family=Teko:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.archivo-regular {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.arimo-regular {
    font-family: "Arimo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}
.asap-regular {
    font-family: "Asap", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.assistant-regular {
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.barlow-semi-condensed-regular {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bitter-regular {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
}
.cabin-regular {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cairo-regular {
    font-family: "Cairo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.caveat-regular {
    font-family: "Caveat", cursive;
    font-weight: 400;
    font-style: normal;
}
.chakra-petch-regular {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.comfortaa-regular {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
}
.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}
.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.dancing-script-regular {
    font-family: "Dancing Script", cursive;
    font-weight: 400;
    font-style: normal;
}
.dosis-regular {
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.eb-garamond-regular {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-style: normal;
}
.exo-2-regular {
    font-family: "Exo 2", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.figtree-regular {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fira-sans-regular {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fira-sans-condensed-regular {
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.heebo-regular {
    font-family: "Heebo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hind-regular {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.hind-siliguri-regular {
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ibm-plex-mono-regular {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.inconsolata-regular {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    font-style: normal;
}
.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.josefin-sans-regular {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.jost-regular {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.kanit-regular {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.karla-regular {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lexend-regular {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
.libre-franklin-regular {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.lora-regular {
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
}
.m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.manrope-regular {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.maven-pro-regular {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}
.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mukta-regular {
    font-family: "Mukta", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mulish-regular {
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-color-emoji-regular {
    font-family: "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-regular {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-arabic-regular {
    font-family: "Noto Sans Arabic", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-hk-regular {
    font-family: "Noto Sans HK", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-jp-regular {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-kr-regular {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-sc-regular {
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-sans-tc-regular {
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.noto-serif-regular {
    font-family: "Noto Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.noto-serif-jp-regular {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
}
.nunito-regular {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.nunito-sans-regular{
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.oswald-regular {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.outfit-regular {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.overpass-regular {
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.oxygen-regular {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pt-sans-narrow-regular {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.play-regular {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-style: normal;
} 
.playfair-display-regular {
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
}
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.prompt-regular {
    font-family: "Prompt", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.public-sans-regular {
    font-family: "Public Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.red-hat-display-regular {
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-condensed-regular {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.roboto-mono-regular {
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.roboto-slab-regular {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
}
.rubik-regular {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}
.signika-negative-regular {
    font-family: "Signika Negative", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.slabo-27px-regular {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
}
.source-code-pro-regular {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-style: normal;
}
.source-sans-3-regular {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.space-grotesk-regular {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.teko-regular {
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.titillium-web-regular {
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.work-sans-regular {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.zilla-slab-regular {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
}